{% extends 'base.html' %}
{% block content %}


<h1>{{ image.title }}</h1>


<div class=>
<img src="{{ MEDIA_URL }}{{ image.image_url }}" alt="Picture of {{ image.title }}"/>
</div>


<h4>{{ image.description }}</h4>

<br>

 <br>  <br>  <br>


{% for comment in object.comment_set.all %}
  <div class="panel panel-default">
  <div class="panel-heading">{{ comment.user }}</div>
    <div class="panel-body">
    <p>{{ comment.text }}</p>
  </div>
  </div>
{% endfor %}


<a href="{% url 'comment_create_view' object.id %}">Add comment</a>

{% endblock %}
